{% extends 'base.html' %}
{% block mainblock %}
<div class="article">
    <div class="article-header">
        <h2>{{ article.title }}</h2>
        <h5><a href="#">Рубрика&nbsp;&quot;{{ article.rubric.name }}&quot;</a></h5>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;{{ article.date }}&nbsp;
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Просмотров:&nbsp;121
        <div id="vk_like"></div>
        <script type="text/javascript">
            VK.Widgets.Like("vk_like", {redesign: 1, type: "button"});
        </script>
        {% for tag in article.tags.all %}
        <a class="article-tag" href="#"><span class="label label-success">{{ tag.name }}<span></a>&nbsp;
        {% endfor %}
    </div>
    <div class="article-body">
        {{ article.text }}
    </div>
</div>
{% endblock %}
