{% extends 'base.html' %}
{% block mainblock %}
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque velit sit amet odio euismod, in efficitur magna auctor. Proin varius luctus orci. Duis cursus orci lorem, eu condimentum ipsum varius finibus. Integer euismod bibendum tempor. Cras ac tempor nulla. Pellentesque non euismod magna. In viverra magna mi, a rhoncus lectus pellentesque ultricies. Curabitur nisi elit, sagittis congue augue vitae, rutrum lobortis magna. Donec finibus feugiat urna, et imperdiet massa vulputate sed.</p>
    <p>Morbi sed bibendum lorem. Praesent porttitor metus pellentesque est condimentum porta quis in orci. Donec a rutrum tellus. In ornare posuere dolor sit amet tincidunt. Etiam fringilla dapibus mollis. Aliquam lobortis, mauris id rhoncus semper, justo lacus sodales lectus, sed commodo est turpis id nisl. Cras eu lacinia felis. Morbi eleifend tempus enim, sit amet porttitor nibh viverra eget. Mauris lorem nulla, ultrices et posuere ac, lobortis quis erat. Aenean consequat eleifend imperdiet. Phasellus vel finibus libero, et tincidunt erat. Ut neque urna, fermentum a sagittis at, ornare ac eros. Aliquam fermentum metus sed nisl iaculis pharetra. Aenean mollis nunc tellus, nec euismod dui iaculis luctus.</p>
    <p>Morbi ac finibus mi, et lacinia arcu. Ut at quam sapien. Aliquam malesuada cursus sem id rhoncus. Vivamus eu enim hendrerit, vestibulum arcu sit amet, finibus est. Donec posuere risus rhoncus arcu condimentum, ut tincidunt odio congue. Suspendisse quis dignissim dolor. Phasellus vestibulum nulla ut nunc eleifend vehicula.</p>
    -->
    <div class="article-preview">
        <div class="article-preview-header">
            <h2>Article Title</h2>
            <h5><a href="#">Рубрика&nbsp;&quot;Sample Rubric&quot;</a></h5>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;01-01-2017&nbsp;15:00&nbsp;
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Просмотров:&nbsp;121
            <div id="vk_like"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like", {redesign: 1, type: "button"});
            </script>
        </div>
        <div class="article-preview-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec placerat lacus. Mauris eu fermentum orci. Vestibulum cursus, elit id sagittis aliquam, arcu quam ornare purus, et blandit nunc elit a orci. Quisque tincidunt, quam ac placerat vestibulum, mi mauris vestibulum purus, vel euismod augue dolor id ipsum. Nam vel egestas nisl, rutrum facilisis nibh. Ut in ex mauris. Phasellus auctor mi lorem, sed fringilla neque fringilla et. Morbi condimentum neque augue, lacinia blandit nisl lacinia ac. Vestibulum non porta ipsum.
            Proin congue mattis est et sodales. Cras a nisl vestibulum mauris aliquet vehicula quis et justo. Donec sit amet dapibus nunc, et rutrum justo. Curabitur pharetra lobortis nunc sed bibendum. Fusce vel justo non odio finibus gravida. Phasellus euismod in est lacinia feugiat. Donec maximus faucibus dolor, in euismod neque interdum et.
        </div>
        <a href="http://localhost:81/blog/sample-article/">Читать полностью...</a>
    </div>

    <div class="article-preview">
        <div class="article-preview-header">
            <h2>Second Article Title</h2>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;01-01-2017&nbsp;15:00&nbsp;
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Просмотров:&nbsp;121
            <div id="vk_like"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like", {redesign: 1, type: "button"});
            </script>

        </div>
        <div class="article-preview-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec placerat lacus. Mauris eu fermentum orci. Vestibulum cursus, elit id sagittis aliquam, arcu quam ornare purus, et blandit nunc elit a orci. Quisque tincidunt, quam ac placerat vestibulum, mi mauris vestibulum purus, vel euismod augue dolor id ipsum. Nam vel egestas nisl, rutrum facilisis nibh. Ut in ex mauris. Phasellus auctor mi lorem, sed fringilla neque fringilla et. Morbi condimentum neque augue, lacinia blandit nisl lacinia ac. Vestibulum non porta ipsum.
            Proin congue mattis est et sodales. Cras a nisl vestibulum mauris aliquet vehicula quis et justo. Donec sit amet dapibus nunc, et rutrum justo. Curabitur pharetra lobortis nunc sed bibendum. Fusce vel justo non odio finibus gravida. Phasellus euismod in est lacinia feugiat. Donec maximus faucibus dolor, in euismod neque interdum et.
        </div>
        <a href="#">Читать полностью...</a>
    </div>

    <div class="article-preview">
        <div class="article-preview-header">
            <h2>Third Article Title</h2>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;01-01-2017&nbsp;15:00&nbsp;
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Просмотров:&nbsp;121
            <div id="vk_like"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like", {redesign: 1, type: "button"});
            </script>
        </div>
        <div class="article-preview-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec placerat lacus. Mauris eu fermentum orci. Vestibulum cursus, elit id sagittis aliquam, arcu quam ornare purus, et blandit nunc elit a orci. Quisque tincidunt, quam ac placerat vestibulum, mi mauris vestibulum purus, vel euismod augue dolor id ipsum. Nam vel egestas nisl, rutrum facilisis nibh. Ut in ex mauris. Phasellus auctor mi lorem, sed fringilla neque fringilla et. Morbi condimentum neque augue, lacinia blandit nisl lacinia ac. Vestibulum non porta ipsum.
            Proin congue mattis est et sodales. Cras a nisl vestibulum mauris aliquet vehicula quis et justo. Donec sit amet dapibus nunc, et rutrum justo. Curabitur pharetra lobortis nunc sed bibendum. Fusce vel justo non odio finibus gravida. Phasellus euismod in est lacinia feugiat. Donec maximus faucibus dolor, in euismod neque interdum et.
        </div>
        <a href="#">Читать полностью...</a>
    </div>
{% endblock %}
