{% extends 'base.html' %}
{% block mainblock %}
<div class="article">
    <div class="article-header">
        <h2>Article Title</h2>
        <h5><a href="#">Рубрика&nbsp;&quot;Sample Rubric&quot;</a></h5>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;01-01-2017&nbsp;15:00&nbsp;
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Просмотров:&nbsp;121
        <div id="vk_like"></div>
        <script type="text/javascript">
            VK.Widgets.Like("vk_like", {redesign: 1, type: "button"});
        </script>
        <a class="article-tag" href="#"><span class="label label-success">Tag 1<span></a>&nbsp;
        <a class="article-tag" href="#"><span class="label label-success">Tag 2<span></a>&nbsp;
        <a class="article-tag" href="#"><span class="label label-success">Tag 3<span></a>&nbsp;
    </div>
    <div class="article-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum egestas bibendum. Pellentesque ac nisl vel nibh aliquam varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc neque dolor, egestas vel augue eu, sodales ultrices urna. Pellentesque enim augue, egestas in sem eget, tempor dignissim ante. Praesent eget orci vel ligula convallis sagittis. Phasellus tempor pharetra molestie. Donec lobortis lectus non turpis bibendum fermentum eget vitae turpis. Fusce ornare sem eget nisl tincidunt, vel vestibulum magna scelerisque. In nec lorem molestie, venenatis metus ut, fermentum eros.

        Aliquam fermentum nisl eget accumsan iaculis. Donec vel porta ipsum, a molestie dui. Pellentesque vitae sapien eu velit condimentum venenatis. Maecenas viverra gravida diam, dapibus sodales enim ullamcorper quis. Curabitur ex dolor, pellentesque a placerat sed, rutrum non magna. Aenean ut molestie mauris. Integer erat diam, gravida quis congue at, iaculis ut metus. Curabitur porta consectetur felis quis vulputate. Duis in dui ut velit faucibus egestas. Nullam at leo sodales, tempus nisl id, posuere quam. Pellentesque nec nulla malesuada, pulvinar augue vitae, finibus neque. Quisque nec suscipit arcu. Nulla sollicitudin aliquet risus at eleifend. Sed aliquam sed eros a laoreet. Pellentesque id massa diam. Suspendisse egestas odio vel neque dictum, nec cursus quam semper.

        Morbi nunc nisi, congue quis arcu nec, imperdiet mattis nisi. Etiam tincidunt dolor et pretium volutpat. Donec pretium vulputate dui, id mollis est placerat et. Morbi vehicula nisl quis felis rhoncus, id faucibus sapien fermentum. Nunc consequat a ex quis suscipit. Aliquam erat volutpat. Aenean justo velit, scelerisque eget dui vitae, cursus viverra quam. Sed quis tellus lacus. Quisque vehicula viverra ante et molestie. Duis in sem vel neque aliquet tincidunt vitae quis nibh. Mauris interdum lacus nec mollis rutrum. Nullam non molestie magna.

        Integer ut maximus sapien. Nam eu velit ut ex laoreet efficitur. Donec suscipit sem quis felis lobortis tincidunt. Nulla lacinia nisl in ante dictum fringilla. Sed sit amet facilisis leo. Curabitur eget urna sagittis, molestie nunc eget, vehicula elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam non felis egestas, semper elit a, pharetra diam. Cras vel felis consectetur, volutpat justo eget, maximus enim. Vivamus sed ante iaculis ipsum ornare convallis ut eu nibh.

        Nulla libero velit, porta maximus tempor vitae, pretium non eros. Ut ultrices magna justo, in molestie nulla faucibus et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam nec eros tempus, aliquam velit sit amet, rutrum nulla. Sed varius feugiat nisl, eget euismod justo pretium at. Phasellus justo justo, auctor eu nisi nec, imperdiet blandit tellus. Cras accumsan velit eget malesuada imperdiet. Donec cursus, erat eget maximus bibendum, nisi arcu consectetur arcu, sed pulvinar quam eros semper turpis. Etiam eu elementum enim, id fermentum orci. Duis ut magna eget nisl rhoncus laoreet. Nam non augue ac lorem vestibulum convallis a vel justo. Duis ultrices consectetur metus accumsan tempor.
    </div>
</div>
{% endblock %}
